<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ascendas.Infrastructure" version="1.0.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net47" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net47" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net47" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net47" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net47" />
  <package id="Sitecore.ContentSearch.Linq.NoReferences" version="9.0.171219" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.ContentSearch.NoReferences" version="9.0.171219" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.171219" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.Mvc.Analytics.NoReferences" version="9.0.171219" targetFramework="net47" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="9.0.171219" targetFramework="net47" developmentDependency="true" />
  <package id="xunit.abstractions" version="2.0.2" targetFramework="net47" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net47" />
  <package id="xunit.assert" version="2.4.0" targetFramework="net47" />
  <package id="xunit.core" version="2.4.0" targetFramework="net47" />
  <package id="xunit.extensibility.core" version="2.4.0" targetFramework="net47" />
  <package id="xunit.extensibility.execution" version="2.4.0" targetFramework="net47" />
</packages>